.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .row {
    margin-top: 20px;
    .col-xs-6 {
      h3 {
        padding-left: 20px;
      }
    }
  }
  .list-group {
    a {
      text-decoration: none;
    }
  }
}