#App {
  .footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    a {
      width: 25%;
      text-align: center;
      text-decoration: none;
    } 
  } 
}

li {
  list-style: none; 
}



